<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bodegas</title>
    <link rel="stylesheet" href="/css/bodegas.css">
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <div class="contenedor-bodegas">
            <div class="contenedor-titulo">
                <h3 class="titulo">Bodegas:</h3>
            </div>
            <div class="bodegas">
                <li class="bodega">
                    <div class="title">
                        <a>Rutini</a>
                    </div>
                    <div class="img">
                        <a href="https://www.rutiniwines.com/"><img src="/Images/bodegas/rutini.jpg" class="Rutini"></a>
                    </div>
                </li>
                <li class="bodega">
                    <div class="title">
                        <a>Luigi Bosca</a>
                    </div>
                    <div class="img">
                        <a href="https://luigibosca.com/"><img src="/Images/bodegas/luigi.jpg" class="Luigi Bosca"></a>
                    </div>
                </li>
                <li class="bodega">
                    <div class="title">
                        <a>Navarro Correas</a>
                    </div>
                    <div class="img">
                        <a href="https://navarrocorreas.com/"><img src="/Images/bodegas/navarro.jpg" class="Navarro Correas"></a>
                    </div>
                </li>
                <li class="bodega">
                    <div class="title">
                        <a>Finca Las Moras</a>
                    </div>
                    <div class="img">
                        <a href="https://fincalasmoras.com.ar/"><img src="/Images/bodegas/moras.png" class="Finca Las Moras"></a>
                    </div>
                </li>
                <li class="bodega">
                    <div class="title">
                        <a>Salentein</a>
                    </div>
                    <div class="img">
                        <a href="https://www.bodegasalentein.com/"><img src="/Images/bodegas/salentein.jpg" class="Salentein"></a>
                    </div>
                </li>
                <li class="bodega">
                    <div class="title">
                        <a>Nieto Senetiner</a>
                    </div>
                    <div class="img">
                        <a href="https://www.nietosenetiner.com.ar"><img src="/Images/bodegas/nieto.jpg" class="Nieto Senetiner"></a>
                    </div>
                </li>
                <li class="bodega">
                    <div class="title">
                        <a>Zuccardi</a>
                    </div>
                    <div class="img">
                        <a href="https://www.rutiniwines.com/"><img src="/Images/bodegas/zuccardi.jpeg" class="Zuccardi"></a>
                    </div>
                </li>
                <li class="bodega">
                    <div class="title">
                        <a>Trapiche</a>
                    </div>
                    <div class="img">
                        <a href="https://www.rutiniwines.com/"><img src="/Images/bodegas/trapiche.jpg" class="Trapiche"></a>
                    </div>
                </li>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
</body>

</html>
