<!DOCTYPE html>

<html lang="es">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/confirmar-compra.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
          <div class="contenedor-titulo">
            <h3 class="recomendaciones">Su compra fue realizada con éxito</h3>
          </div>
                <h1 class="">Muchas gracias!</h1>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>