<!DOCTYPE html>

<html lang="es">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/confirmar-compra.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="contenedor-titulo">
            <div class="content">
                <h1 class="pregunta">Su compra fue realizada con exito</h1>
                <h1 class="product">Muchas grascias!</h1>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>