<!DOCTYPE html>
    
<html lang="es">
        
    <%- include("../partials/head.ejs") %>

    <body>

        <%- include("../partials/header.ejs") %>

        <main>

            <section class="seccion">

                <div class="ruta-cruz">

                    <div class="ruta-producto">
                        <a href="/" style="text-decoration: none; color: black;">Inicio</a> / ????? / Producto
                    </div>

                    <div class="cruz-cerrar">
                        <i class="fa-solid fa-x"></i>
                    </div>

                </div>

                <div class="contenedor-imagenes-detalles">

                    <div class="imagenes-detalles">

                        <div class="carrusel-minis">

                            <div class="carrusel">

                                <div class="contenedor-imagen-carrusel">
                                    <img class="imagen-principal imagenes-producto" src="/images/productImages/vino1.jpg" alt="Vino elementos malbec">
                                </div>

                            </div>
                            
                            <div class="contenedor-minis">

                                <div class="miniaturas-img">
                                    
                                    <div class="mini">
                                        <img class="imagenes-producto" src="/images/productImages/vino1.jpg" alt="Vino elementos malbec">
                                    </div>

                                    <div class="mini">
                                        <img class="imagenes-producto" src="/images/productImages/vino2.jpg" alt="Pack de seis vinos elementos">
                                    </div>

                                    <div class="mini">
                                        <img class="imagenes-producto" src="/images/productImages/vino3.jpg" alt="Pack vino, copa y caja">
                                    </div>
                                
                                </div>

                            </div>

                        </div>
            
                        <div class="contenedor-detalles">

                            <div class="details nombre-producto">
                                <h2>Vino Elementos Malbec</h2>
                            </div>

                            <div class="details tamanio">
                                <p>750 cc</p>
                            </div>

                            <div class="details precio">
                                <h3>$2222</h3>
                            </div>

                            <div>

                                <div class="details cantidad-agregar">

                                    <div class="agregar">

                                        <div class="details agregar-al-carrito">
                                            <p>Agregar al carrito</p>
                                        </div>

                                    </div>

                                    <div class="cantidad-sumar">

                                        <div>
                                            <p>Cantidad</p>
                                        </div>

                                        <div class="sumar-restar">
                                            <p>- 1 +</p>
                                        </div>

                                    </div>

                                </div>

                                <div class="formas">

                                    <div class="details formas-de-pago">
                                        <p>Ver formas de pago</p>
                                    </div>
                                    
                                </div>

                            </div>                   

                            <div class="contenedor-descripcion">

                                <div class="titulos-chicos">
                                    <h2>Detalles</h2>
                                </div>

                                <div class="details descripcion-producto">
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus possimus itaque esse neque laudantium eos beatae iste, molestiae, ipsam facilis nemo vero animi assumenda. Aspernatur ducimus debitis quaerat doloremque aperiam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad sit iure sed eveniet labore amet quae eligendi totam nisi dicta veniam quod, optio perspiciatis cum. Natus officia dolores unde amet?</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <section>

                <div class="display-relacionados">

                    <div class="productos-relacionados">

                        <div class="contenedor-titulo-prod-rel">
                            <h2>Productos relacionados</h2>
                        </div>

                        <div class="contenedor-articulos-rel">

                            <article class="articulo-1">

                                <div class="sombras">
                                  
                                    <div>

                                        <div>
                                            <img src="/images/productImages/vino2.jpg" alt="Producto relacionado 1" class="imagenes-relacionados relacionado-1">
                                        </div>

                                    </div>

                                    <div class="descripcion-articulo-1">

                                        <div class="detalles-articulo-rel">
                                            <p>nombre</p>
                                        </div>

                                        <div class="detalles-articulo-rel">
                                            <p>precio</p>
                                        </div>

                                    </div>

                                </div>

                            </article>

                            <article class="articulo-2">

                                <div class="sombras">

                                    <div>

                                        <div>
                                            <img src="/images/productImages/vino2.jpg" alt="Producto relacionado 2" class="imagenes-relacionados relacionado-2">
                                        </div>

                                    </div>

                                    <div class="descripcion-articulo-2">

                                        <div class="detalles-articulo-rel">
                                            <p>nombre</p>
                                        </div>

                                        <div class="detalles-articulo-rel">
                                            <p>precio</p>
                                        </div>

                                    </div>

                                </div>

                            </article>

                            <article class="articulo-3">

                                <div class="sombras">

                                    <div>

                                        <div>
                                            <img src="/images/productImages/vino2.jpg" alt="Producto relacionado 3" class="imagenes-relacionados relacionado-3">
                                        </div>

                                    </div>

                                    <div class="descripcion-articulo-3">

                                        <div class="detalles-articulo-rel">
                                            <p>nombre</p>
                                        </div>

                                        <div class="detalles-articulo-rel">
                                            <p>precio</p>
                                        </div>

                                    </div>

                                </div>

                            </article>

                            <article class="articulo-4">

                                <div class="sombras">

                                    <div>

                                        <div>
                                            <img src="/images/productImages/vino2.jpg" alt="Producto relacionado 4" class="imagenes-relacionados relacionado-4">
                                        </div>

                                    </div>

                                    <div class="descripcion-articulo-4">

                                        <div class="detalles-articulo-rel">
                                            <p>nombre</p>
                                        </div>

                                        <div class="detalles-articulo-rel">
                                            <p>precio</p>
                                        </div>

                                    </div>

                                </div>

                            </article>

                        </div>
                            
                    </div>

                </div>

            </section>

        </main>

        <%- include("../partials/footer.ejs") %>

    </body>

 </html>