
  <%- include("../partials/head.ejs") %> 
  <body>
    <%- include("../partials/header.ejs") %> 
    <main>
      <div class="products">
        <article>
          <img src="images/productImages/2Km-Pinot Noir.jpeg" alt="2km" class="product_img" />
          <div class="main-article">
            <h4 class="description">2KM Pinot Noir</h4>
            <p class="price">$3.000</p>
          </div>
        </article>

        <article>
          <img
            src="images/productImages/Luigi Bosca-Pinot Noir.jpeg"
            alt="Luigi Bosca"
            class="product_img"
          />
          <div class="main-article">
            <h4 class="description">Luigi Bosca Pinot Noir</h4>
            <p class="price">$3.500</p>
          </div>
        </article>

        <article>
          <img
            src="images/productImages/Serbal-Pinot Noir.jpeg"
            alt="Serbal"
            class="product_img"
          />
          <div class="main-article">
            <h4 class="description">Serbal</h4>
            <p class="price">$2.500</p>
          </div>
        </article>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
  </body>
</html>
