<!DOCTYPE html>
    
<html lang="es">
        
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Las siguientes 3 lineas las copie de google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!-- Las siguientes 3 lineas las copie de google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:wght@700&display=swap" rel="stylesheet">
        <!-- Link de icons -->
        <script src="https://kit.fontawesome.com/742f33a9bc.js" crossorigin="anonymous"></script>
        <!-- Vinculo el archivo normalize que sirve para que la pagina se vea siempre bien -->
        <link rel="stylesheet" href="/css/normalize.css">
        <!-- Recomiendan estas hojas ultimas -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/detalles.css">
        <title>miVinoteca</title>

    </head>

    <body>

        <header>

            <div class="logo-login">

                <div class="logo">
                    <p>Aca va el logo</p>
                </div>

                <div class="login-register">

                    <a class="registro" href="/registro">Registrarse</a>
                    
                    <div class="icono-barras">
                        <i class="fa-solid fa-grip-lines-vertical"></i>                    
                    </div>
                    
                    <a class="login" href="/login">Iniciar sesión</a>
                    
                </div>

            </div>


            <nav>

                <div class="nav-bar">
                    
                    <div class="burger-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <div class="barra-de-busqueda">
                        <p>Search Bar</p>
                    </div>

                    <div class="carrito">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <p class="numero-carrito">0</p>
                    </div>


                </div>

            </nav>

        </header>

        <main>

            <div class="cruz-cerrar">
                <i class="fa-solid fa-x"></i>
            </div>

            <div class="carrusel">
                <p>imagen del producto</p>
            </div>
        </main>

    </body>

 </html>