<!DOCTYPE html>
    
<html lang="es">
        
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Las siguientes 3 lineas las copie de google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <!-- Las siguientes 3 lineas las copie de google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:wght@700&display=swap" rel="stylesheet">
        <!-- Link de icons -->
        <script src="https://kit.fontawesome.com/742f33a9bc.js" crossorigin="anonymous"></script>
        <!-- Vinculo el archivo normalize que sirve para que la pagina se vea siempre bien -->
        <link rel="stylesheet" href="/css/normalize.css">
        <!-- Recomiendan estas hojas ultimas -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/detalles.css">
        <title>miVinoteca</title>

    </head>

    <body>

        <header>

            <div class="logo-login">

                <div class="logo">
                    <p>Aca va el logo</p>
                </div>

                <div class="login-register">

                    <a class="register" href="/registro">Registrarse</a>
                    
                    <div class="icono-barras">
                        <i class="fa-solid fa-grip-lines-vertical"></i>                    
                    </div>
                    
                    <a class="inicio-sesion" href="/login">Iniciar sesión</a>
                    
                </div>

            </div>


            <nav>

                <div class="nav-bar">
                    
                    <div class="burger-menu">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <div class="barra-de-busqueda">
                        <p>Search Bar</p>
                    </div>

                    <div>
                        <a href="/carrito" class="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                        <p class="numero-carrito">0</p>
                    </div>


                </div>

            </nav>

        </header>

        <main>

            <section>

                <div class="imagenes-cruz">

                    <div class="ruta-cruz">

                        <div class="ruta-producto">
                            <a href="/" style="text-decoration: none;">Inicio</a> / ????? / Producto
                        </div>

                        <div class="cruz-cerrar">
                            <i class="fa-solid fa-x"></i>
                        </div>

                    </div>

                    <div class="carrusel">
                        <p>imagen del producto</p>
                    </div>
                    
                    <div class="contenedor-minis">

                        <div class="miniaturas-img">
                            
                            <div class="mini">
                                <p>img 1</p>
                            </div>

                            <div class="mini">
                                <p>img 2</p>
                            </div>

                            <div class="mini">
                                <p>img 3</p>
                            </div>
                        
                        </div>

                    </div>
                
                </div>

                <div class="detalles-producto">

                    <div class="details nombre-producto">
                        <h2>Nombre del Producto</h2>
                    </div>

                    <div class="details tamanio">
                        <p>750 cc</p>
                    </div>

                    <div class="details precio">
                        <h3>$2222</h3>
                    </div>

                    <div class="details cantidad-agregar">


                        <div class="cantidad-sumar">

                            <div>
                                <p>Cantidad</p>
                            </div>

                            <div class="sumar-restar">
                                <p>- 1 +</p>
                            </div>

                        </div>

                        <div class="agregar-formas">

                            <div class="details agregar-al-carrito">
                                <p>Agregar al carrito</p>
                            </div>

                            <div class="details formas-de-pago">
                                <p>Ver formas de pago</p>
                            </div>

                        </div>

                    </div>

                    <div class="details descripcion-producto">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus possimus itaque esse neque laudantium eos beatae iste, molestiae, ipsam facilis nemo vero animi assumenda. Aspernatur ducimus debitis quaerat doloremque aperiam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad sit iure sed eveniet labore amet quae eligendi totam nisi dicta veniam quod, optio perspiciatis cum. Natus officia dolores unde amet?</p>
                    </div>

                </div>

            </section>



        </main>

    </body>

 </html>