<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Vuelve el sitio responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 3</title>

    <!-- Vinculo el archivo normalize que sirve para que la pagina se vea siempre bien -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Recomiendan esta hoja ultima -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="saludo">Bienvenidos</div>
    <div class="registro"><a href="/registro">Registro</div></a>
    <div class="login"><a href="/login">Login</div></a>
    <div class="home-productos"><a href="/home-productos">Home Producto</div></a>

</body>
</html>