<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miVinoteca</title>

    <!-- Las siguientes 3 lineas las copie de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Las siguientes 3 lineas las copie de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <!-- Link de icons -->
    <script src="https://kit.fontawesome.com/742f33a9bc.js" crossorigin="anonymous"></script>
    <!-- Vinculo el archivo normalize que sirve para que la pagina se vea siempre bien -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Recomiendan estas hojas ultimas -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <div class="exit"><i class="fa-solid fa-circle-xmark"></i></div>
    </header>
    <main>
        <section class="cuadro">
            <div class="saludo-logo">Bienvenido!</div>
            <div class="caja-datos">
                <div class="info-usuario">Usuario</div>
                <div class="info-usuario">Contraseña</div>
            </div>
            <div class="caja-links">
                <div class="boton">Iniciar Sesión</div>
                <div class="letra-chica">
                    <div><a class="pregunta" href="/password">¿Olvidaste tu contraseña?</a></div>
                    <div class="cuenta">¿No tenes cuenta?</div>
                    <div><a class="link" href="/registro">Registrate</a></div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>