main{
    margin-top: 120px;
    padding: 20px 20px;
  }
  .contenedor-titulo {
    margin: 10px 40px;
  }
  .recomendaciones {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    font-weight: 300;
    padding: 3px 9px;
    color: #666;
    flex-direction: row;
    border-bottom: 1px solid #80083F;
}
main h1 {
    display: flex;
    padding: 20px 0;
    font-weight: 300;
    margin: 94px 70px;
    color: #80083F;
    font-size: 25px;
    margin: 160px
  }