
main{
  margin-top: 120px;
  padding: 20px 20px;
}

.contenedor-titulo {
margin: 10px 40px;
}
.title{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 300;
  padding: 3px 9px;
  color: #666;
  flex-direction: row;
  border-bottom: 1px solid #80083F;
}
.contenedor-form {
  padding: 20px 0;
  font-weight: 300;
  margin: 0px 40px;
}
#form{
  font-weight: 300;
  
}
.form-label{
 color:#80083F;

}
input{
  border-radius: 6px;
  
}
.input-foto{
  background-color: white;
  color: #80083F
}
select{
  color: #80083F;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;

}

.label-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.boton-crear {
  color: white;
  background-color: #80083F;
  display: flex;
  font-weight: bold;
  height: 40px;
  width: 40vw;
  max-width: 175px;
  min-width: 110px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border:0px
}
.boton-crear:hover {
  background-color: rgb(129, 22, 129);
  color: white;
}

.input-foto {
  width: 90%;
}

.contenedor-inputs {
  padding: 20px;
  border: solid 1px #80083F;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  
}

#descripcion{
  border-radius: 6px;
  padding:4px;
}
.description-input {
  height: 100px;
  width: 90%;
  border: solid 1px lightgray;
}

.form-input {
  height: 35px;
  width: 90%;
  border: solid 1px lightgray;
}
.is-valid {
  color: #198754;
}

.is-invalid {
  color: red;
  list-style-type: none;
}

.alert-warning{
  border-color: red;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
  border-style: solid;
}
li {
  list-style-type: none;
  text-align: center;

}
