
main{
    padding: 20px 20px;
  }
  
  .contenedor-titulo {
  margin: 10px 40px;
  }

h3 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    font-weight: 300;
    padding: 3px 9px;
    color: #666;
    flex-direction: row;
    border-bottom: 1px solid #80083F;
}
.contenedor-form {
    padding: 20px 0;
    font-weight: 300;
    margin: 0px 40px;
  }
  .contenedor-inputs{
    padding: 20px;
    border: solid 1px #80083F;
    border-radius: 8px;
    width: 80%;
    margin: auto;
  }

li {
    list-style-type: none;
  }
.products{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.edit-profile {
    text-align: center;
    margin-top: 110px;
    padding: 20px;
}

form {
    padding: 20px;
}
.label-input {
    height: 35px;
    width: 90%;
    border: solid 1px lightgray;
  }

.edit-input {
    height: 35px;
    width: 90%;
    border: solid 1px lightgray;
    color:#666
}
.edit-button {
    color: white;
  background-color: #80083F;
  display: flex;
  font-weight: bold;
  height: 40px;
  width: 40vw;
  max-width: 175px;
  min-width: 110px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border:0px;
  margin: 10px;
}
.edit-button:hover {
    background-color: rgb(129, 22, 129);
    color: white;
  }
input{
    border-radius: 6px;
}
.edit-label {
    color: #80083F;
}
.input-foto{
    background-color: white;
    color: #80083F
  }
textarea{
    border-radius: 6px;
    padding:4px;
}
  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

.back-button {
    color: white;
    background-color: #80083F;
    display: flex;
    font-weight: bold;
    height: 40px;
    width: 40vw;
    max-width: 175px;
    min-width: 110px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:0px;
    margin: 10px;
    text-decoration: none;
}
.back-button:hover {
    background-color: rgb(129, 22, 129);
    color: white;
  }

.is-valid {
    color: #198754;
  }
  
  .is-invalid {
    color: red;
    list-style-type: none;
  }
  
  .alert-warning{
    border-color: red;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
  }

/********* Navegacion Celulares *************/

@media (min-width: 460px) {
  input {
    width: 70%;
  }
}

/*************** Navegacion Tablets *********/

@media (min-width: 769px) {
  input {
    width: 50%;
  }

  /* header{
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0px 3px 6px #00000029;
    }
    main{
        margin-top: 100px;
    }
    .phone-register-button{
        display: none;
    }
    .nav-bar-phone{
        display: none;
    }
    .icons-box{
        display: flex;
    }
    .menu-desktop{
        display: flex;
    }
    .functions-header{
        display: flex;
        font-size: 14px;
    }
    .logo{
        width: 30%;
    }
    .logo img{
        width: 100%;
    }
    .buscador-desktop{
        width: 125px;
    }
    .lupa-desktop{
        left: -10px;
    }
    .desktop-register-button{
        display: flex;
        color:#80083F;
        font-size: 20px;
    }
    .icons-desktop a{
        font-size: 17px;
        padding: 10px 5px;
        bottom: 7px;
    }
    .box-buscador-desktop{
        display: flex;
        align-items: center;
        position: relative;
        bottom: 0px;
    }
    .buscador-desktop{
        width: 100px;
        bottom: -6px;
        left: 12px;
    }*/
}

/*************** Navegacion Desktop *********/

@media (min-width: 1280px) {
  input {
    width: 35%;
  }
  /*header{
        flex-direction: row;
        justify-content: space-between;
    }
    main{
        margin-top: 140px;
    }
    .phone-register-button{
        display: none;
    }
    .nav-bar-phone{
        display: none;
    }
    .icons-box{
        display: flex;
        padding: 0px 10px;
    }
    .menu-desktop{
        display: flex;
    }
    .functions-header{
        display: flex;
        font-size: 14px;
        justify-content: space-around;
        width: 600px;
    }
    .logo{
        width: 30%;
    }
    .logo img{
        width: 100%;
    }
    .buscador-desktop{
        width: 180px;
    }
    .lupa-desktop{
        position: relative;
        left: -24px;
        bottom: -6px;
        color: #80083F;
    }
    .desktop-register-button{
        display: flex;
        color:#80083F;
        font-size: 20px;
    }
    .icons-desktop a{
        font-size: 25px;
        padding: 10px 5px;
        bottom: 10px;
    
    }
    .box-buscador-desktop{
        display: flex;
        align-items: center;
        position: relative;
        bottom: 0px;
    }
    .buscador-desktop{
        padding: 7px 10px;
        border: solid 1px #80083F;
        border-radius: 12px;
        font-weight: 300;
        position: relative;
        bottom: -6px;
    }*/
}
