


/*************** Generales ***************/

* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body {
   font-family:'Assistant', sans-serif;;
}
li {
    list-style-type: none;
}
/*************** Principal ***************/
.cuadro {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: white;
    width: 460px;
    height: 700px;
    border-radius: 36px;
    padding-bottom: 60px;
    
}
.exit{
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
    padding-right: 35px;
    color: #9BA0A3;
    font-size: 30px;
}

.errores ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-solid, .fas {
    font-weight: 900;
    color: #80083F;
}
.fa-solid:hover {
    color:  rgb(129, 22, 129);
  }
.saludo-logo {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 55px;
    color:#9BA0A3;
}
.caja-datos {
    display: flex;
    flex-direction: column;
}
.info-usuario{
    font-size: 18px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: solid 2px black;
    width: 190px;
    padding-left: 12px;
    padding-top: 10px;
}
.caja-links{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-info-user{
    font-size: 18px;
    margin: auto;
    margin-bottom: 30px;
    border: none;
    width: 190px;
    padding-left: 12px;
    border-bottom: 1px solid #80083F;
}

.boton{
    display: flex;
    margin: auto;
    color: white;
    padding: 8px 43px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    border: 0.5px solid #eee;
    background-color: #80083F;
    text-decoration: none;
}
.boton:hover {
    background-color: rgb(129, 22, 129);
    color: white;
  }

.letra-chica{
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 197px;
    padding-top: 15px;
}
.recordar{
    text-align: center;
    display: flex;
    margin-bottom: 10px;
    font-size: small;
    justify-content: center;
}

.cuenta{
    margin-right: 5px;
    margin-top: 5px;
}

.pregunta{
    color:black;
}

.link{
    color:black;
    margin-top: 5px;
    display: flex;
}
.text-danger{
    color: red;
    position: relative;
    bottom: 27px;
    font-size: 13px;
}

.is-valid {
    color: #198754;
  }
  
  .is-invalid {
    color: red;
    list-style-type: none;
  }
  
  .alert-warning{
    border-color: red;
    text-align: center;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    border-style: solid;
  }
