main{
    background-color: white;
    padding: 0px;
}
body{
    background:white;
    font-family: sans-serif;
}
.contenedor-nosotros{
    margin:auto;
    background-color: white;
    width: 100%;
}
.contenedor-nosotros h1{
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor-nosotros p{
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor-nosotros img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}