
/************************ Top *****************************/ 
main{
  margin-top: 120px;
}
.contenedor-ambos {
  display: flex;
  flex-direction: column;
}

.contenedor-perfil {
  display: flex;
  background-color: #80083f;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  padding: 0px 90px;
}
.contenedor-info-personal {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: flex-start;
  padding: 0 50px;
}
.img-perfil{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.img-saludo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saludo-perfil {
  font-size: 25px;
  color: white;
  position: relative;
  font-weight: 300;
}
.contenedor-botones-perfil {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
}
.botones-edit-logout {
  background-color: white;
  height: 50px;
  border: none;
  width: 150px;
  border-radius: 0.5em;
  color:#80083f
}
.botones-edit-logout:hover {
  background-color: rgb(129, 22, 129);
  color: white;
}

/*********************** Low ****************************/ 
.info-box {
  margin: 20px;
  display: flex;
}
.perfil-info{
  margin-left: 15px;
  color: #80083f;
  font-size: 20px;
  font-weight: 300;
  
}
.perfil-category{
  font-size: 20px;
  color: #666;
    font-weight: 300;
}

