main {
  padding: 7px 0;
}

.contenedor-ambos {
  display: flex;
  flex-direction: column;
}

.contenedor-perfil {
  display: flex;
  background-color: #80083f;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
  height: 300px;
}

.contenedor-info-personal {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  padding: 0 50px;
}

.contenedor-circulo {
  display: flex;
  justify-content: center;
}

/*.circulo-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 20px;
}*/
.circulo-img {
  position: relative;
}
.circulo-img img {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.img-perfil {
  width: 100%;
}*/

.img-saludo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saludo-perfil {
  font-size: 25px;
  color: white;
  position: relative;
  top: 80px;
}

.contenedor-botones-perfil {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
}

.botones-edit-logout {
  background-color: white;
  height: 50px;
  border: none;
  width: 150px;
  border-radius: 0.5em;
}
