main {
  padding: 7px 0;
}

.contenedor-ambos {
  display: flex;
  flex-direction: column;
}

.contenedor-perfil {
  display: flex;
  background-color: #80083f;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 300px;
}

.contenedor-info-personal {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
  padding: 0 50px;
}

.contenedor-circulo {
  display: flex;
  justify-content: center;
}

.circulo-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 20px;
}

.img-perfil {
  width: 100%;
}

.img-saludo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saludo-perfil {
  font-size: 25px;
  color: white;
}
