main {
    padding: 75px 20px;
}

.contenedor-todo{
    width: 100%;
}

.contenedor-titulo{
    margin: 10px 0;
}

main section article{
    margin-bottom: 10px;
    background-color: white;
}

main section article p{
    margin-bottom: 10px;
}

.div-producto{
    border: solid 1px lightgray;
}

.etiqueta-link{
    color: black;
    text-decoration: none;
}

.detalles{
    border-top: solid 1px lightgray;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.imagen-producto{
    width: auto;
    display: flex;
    justify-content: center;
}

.contenedor-precio{
    display: flex;
    flex-direction: row;
}

.contenedor-nombre{
    display: flex;
}

.nombre-producto{
    font-size: 16px;
}

.precios{
    font-size: 18px;
    flex-grow: 0.3;
    display: flex;
}

.descuentos{
    color:purple;
    font-size: 16px;
    flex-grow: 0.7;
    display: flex;
    align-items: center;
}
