<footer>
  <div class="display-footer">
    <div class="medios-news">
      <div class="medios-de-pago" id="medios-pago">
        <h3>Medios de pago</h3>
        <div class="iconos-medios-pago">
          <i class="fa-brands fa-cc-visa"></i>
          <i class="fa-brands fa-cc-mastercard"></i>
          <i class="fa-brands fa-cc-amex"></i>
          <i class="fa-brands fa-cc-paypal"></i>
        </div>
      </div>
      <div class="news">
        <div class="titulos-footer">
          <h3>Newsletter</h3>
        </div>
        <div class="news-input">
          <form action="/" method="get">
            <div class="contenedor-news-input">
              <input
                class="mail-news"
                type="email"
                name="newsletter-mail"
                placeholder="Email"
              /><!---->
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="contacto">
      <div class="titulos-footer">
        <h3>Contacto y Redes</h3>
      </div>
      <div class="botones-contacto">
        <div class="margen-contacto">
          <i class="fa-solid fa-envelope"></i> winehouse@winehouse.com
        </div>
        <div class="margen-contacto">
          <i class="fa-solid fa-phone"></i> +54 9 123 345-6789
        </div>
        <div class="margen-contacto">
          <i class="fa-solid fa-location-pin"></i> Wine Street 1887
        </div>
        <div class="margen-contacto">
          <i class="fa-brands fa-facebook-f"></i> Wine House
        </div>
        <div class="margen-contacto">
          <i class="fa-brands fa-instagram"></i> wine.house
        </div>
      </div>
    </div>
    <div class="mapa-sitio">
      <div class="titulos-footer">
        <h3>Mapa del sitio</h3>
      </div>
      <div class="botones-mapa">
        <div class="margen-contacto">
          <a href="/nosotros">¿Quiénes somos?</a>
        </div>
        <div class="margen-contacto">
          <a href="/suscripciones">Suscripciones</a>
        </div>
        <div class="margen-contacto">
          <a href="/FAQ">FAQ</a>
        </div>
        <div class="margen-contacto">
          <a href="/productos">Productos</a>
        </div>
        <div class="margen-contacto">
          <a href="/terminos-y-condiciones">Términos y condiciones</a>
        </div>
        <div class="margen-contacto">
          <a href="/politicas-de-privacidad">Políticas de privacidad</a>
        </div>
      </div>
    </div>
  </div>
</footer>
