<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--Vuelve el sitio responsive-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Grupo 3</title>
  <!-- Vinculo el archivo normalize que sirve para que la pagina se vea siempre bien -->
  <link rel="stylesheet" href="/css/normalize.css" />
  <!-- Las siguientes 3 lineas las copie de google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">    
  <!-- Link de icons -->
  <script src="https://kit.fontawesome.com/742f33a9bc.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
  <!-- Recomiendan esta hoja ultima -->
  <link rel="stylesheet" href="/css/styles.css"/>
  <link rel="stylesheet" href="/css/header.css"/>
  <link rel="stylesheet" href="/css/footer.css"/>
  <link rel="stylesheet" href="/css/carrito.css"/>
  <link rel="stylesheet" href="/css/detalles.css"/>
</head>