<header>
    <div class="logo">
        <a href="/"><img src="/images/logo-winehouse.png" alt="Logo" class="product_img"/></a>
    </div>
    <div class="phone-register-button">
        <a class="link" href="/registro">Registrarse - Iniciar sesión</a>
    </div>
    <div class="nav-bar-phone">
        <div class="icons"><i class="fas fa-bars icono.menu"></i></div>
        <!-- Creando, formulario buscador -->
        <form method="get" action="/" class="search">
            <div class="box-buscador">
                <input class="buscador" type="text" name="buscador" placeholder="Buscar..." required minlength="3" >
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </form>
        <div class="icons"><a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a></i></div>
  
    </div>
    <nav class="menu-desktop">
        <ul class="functions-header">
            <a href="/products"><li>Productos</li></a>
            <a href="/bodegas"><li>Bodegas</li></a>
            <a href="/provincias"><li>Provincias</li></a>
            <a href="/products/carrito"><li>Carrito</li></a>
            <% if(locals.isLogged.category_id == 1) { %>
            <a href="/products/crear"><li>Crear</li></a>
            <% } %>
        </ul>
    </nav>
    <div class="icons-box">
        <!-- Creando, formulario buscador -->
        <form method="get" action="/" class="search-desktop">
            <div class="box-buscador-desktop">
                <input class="buscador-desktop" type="text" name="buscador" placeholder="Buscar..." required>
                <div class="lupa-desktop">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </form>
        <% if (locals.isLogged) { %>
        <div class="icons-desktop">
            <a class="link" href="/users/perfil"><i class="fa-solid fa-user"></i><%=locals.isLogged.name%></a>
        </div>
        <% } else { %>
            
                <a class="iniciar-sesion-link" href="/users/login">Iniciar sesión</a>
            </div>
            
        <%}%>
            <div class="icons-desktop"><a href="/products/carrito"><i class="fa-solid fa-cart-shopping"></i></a></i></div>
  </header>