<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes Somos</title>
    <link rel="stylesheet" href="/css/nosotros.css">
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <div class="contenedor-nosotros">
            <img src="/Images/slides/vinito 2.jpeg">
            <div class="quienes-somos">
                <h1>
                Quiénes somos
                </h1>
                <p>
                "Wine House" tiene como objetivo hacer ofrecer la mejor selección de vinos para que disfrutes en tu casa, y entender mejor sus matices
                y múltiples posibilidades de consumo.

                Queremos que puedas pagar con la mayoría de los medios de pago y lo recibas en la comodidad de tu casa.
                
                Te asesoramos para guiarte con tu compra y te brindamos las opiniones de otros compradores para que tomes la mejor decisión.
                
                Para los que quieren estar actualizados con las novedades del mundo del vino, les proponemos que sigan nuestra sección de noticias, de muy fácil lectura y muy completa.
                
                Queremos que tengas una excelente experiencia de compra y nos esforzamos mucho para eso.
                </p>
            </div>
        </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
</body>

</html>
