<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miVinoteca</title>

    <!-- Las siguientes 3 lineas las copie de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Las siguientes 3 lineas las copie de google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@700&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <!-- Link de icons -->
    <script src="https://kit.fontawesome.com/742f33a9bc.js" crossorigin="anonymous"></script>
    <!-- Vinculo el archivo normalize que sirve para que la pagina se vea siempre bien -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Recomiendan estas hojas ultimas -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>
    <header>
        <div class="exit"><a href="/"><i class="fa-solid fa-circle-xmark"></i></a></div>
    </header>
    <main>
        <!-- Si la variable errors existe, entra aca, locals es una variable que existe en todas las vistas, que de base es undefined -->
                <% if(locals.errors) {%> 
        <!-- errors es la variable que estoy recibiendo y oneError es cada una de las propiedades del objeto -->
                    <% for (let oneError in errors){ %>
        <!-- Entro a la propiedad msg de cada error -->
                        <p> <% errors[oneError].msg %> </p>
    
                    <% } %> 
                <% } %> 
        <section class="cuadro">
            <div class="saludo-logo">Registrarse</div>
            <form method="POST" action="/users/registro" enctype="multipart/form-data">
                <div class="register">
                    <div>
                        <input class="box-info-user" type="text" name="nombre" placeholder="Nombre">
        <!-- Entra si vino errors en la variable local y si existe la propiedad nombre en errors -->
                        <% if(locals.errors && errors.nombre) {%> 
                            <div class="text-danger">
        <!-- Le pido que muestre la propiedad msg, del error.nombre-->
                                <%= errors.nombre.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div>
                        <input class="box-info-user" type="text" name="apellido" placeholder="Apellido">
                        <% if(locals.errors && errors.apellido) {%> 
                            <div class="text-danger">
                                <%= errors.apellido.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div>
                        <input class="box-info-user" type="text" name="email" placeholder="E-mail">
                        <% if(locals.errors && errors.email) {%> 
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %> 
                    </div>
                    <div>
                        <input class="box-info-user" type="password" name="password" placeholder="Contraseña">
                        <% if(locals.errors && errors.password) {%> 
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %> 
                    </div>
                </div>
                        <input type="submit" class="boton" value="Registrarse"></input>
                    </form>
                <div class="letra-chica">
                    <div class="pregunta">Ya eres miembro?</div>
                    <div><a class="link" href="/users/login">Inicia sesión</a></div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>